CompileFlags:
  Add: 
    - --target=riscv32-unknown-elf
    - -mcpu=generic-rv32
    - -march=rv32imafdzfh
    - -mabi=ilp32d
    - -mcmodel=medany
    - -ffast-math
    - -Itarget/snitch_cluster/sw/runtime/rtl-generic/src
    - -Itarget/snitch_cluster/sw/runtime/rtl-generic/include
    - -Itarget/snitch_cluster/sw/runtime/common
    - -Isw/snRuntime/api
    - -Isw/snRuntime/src
    - -Isw/snRuntime/src/omp
    - -Isw/snRuntime/api/omp
    - -Isw/snRuntime/vendor/riscv-opcodes
    - -Isw/snRuntime/../math/arch/riscv64/
    - -Isw/snRuntime/../math/arch/generic
    - -Isw/snRuntime/../math/src/include
    - -Isw/snRuntime/../math/src/internal
    - -Isw/snRuntime/../math/include/bits
    - -Isw/snRuntime/../math/include
    - -Itarget/snitch_cluster/sw/snax/simbacore/include
    - -Itarget/snitch_cluster/sw/snax/versacore/include
    - -Itarget/snitch_cluster/sw/snax/gemmx/include
    - -Itarget/snitch_cluster/sw/snax/snax-alu/include
    - -Itarget/snitch_cluster/sw/snax/hypercorex/include
    - -Itarget/snitch_cluster/sw/snax/data-reshuffler/include
    - -Itarget/snitch_cluster/sw/snax/xdma/include
    - -Itarget/snitch_cluster/sw/snax/mac/include
    - -Itarget/snitch_cluster/sw/snax/dimc/include
    - -Itarget/snitch_cluster/sw/snax/snax-cgra/include
    - -Itarget/snitch_cluster/sw/apps/snax-simbacore/data
    - -Itarget/snitch_cluster/sw/apps/snax-versacore-matmul/data
    - -Itarget/snitch_cluster/sw/apps/snax-versacore-matmul-profile/data
    - -Itarget/snitch_cluster/sw/apps/snax-hypercorex/test-csr/data
    - -Itarget/snitch_cluster/sw/apps/snax-alu/data
    - -Itarget/snitch_cluster/sw/apps/snax-mac/data
    - -Itarget/snitch_cluster/sw/apps/snax-xdma-maxpool/data
    - -Itarget/snitch_cluster/sw/apps/snax-xdma-transpose/data
    - -Itarget/snitch_cluster/sw/apps/snax-xdma-reshape-comparison/data

# Diagnostics:
#   UnusedIncludes: None

# Index:
#   Background: Build

# # Treat .h files as C files for proper parsing and formatting
# If:
#   PathMatch: .*\.(h|H)$
# CompileFlags:
#   Add:
#     - -x
#     - c
#     - -std=c11
#     - -Wno-everything
